@model IEnumerable<Berrini.Application.ViewModels.ClienteCupomViewModel>
@{
    ViewBag.Title = "Index";
}
<h2>Cupons já cadastrados pelos clientes</h2>
<div class="panel panel-success">
    <div class="panel-heading"> </div>
   
        <table class="table table-responsive table-bordered table-condensed">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Cliente)</th>
                    <th>@Html.DisplayNameFor(m => m.Cupom.NumeroCupom)</th>
                    <th>@Html.DisplayNameFor(m => m.Cadastro)</th>
                    <th>@Html.DisplayNameFor(m => m.Cupom.Premio)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Cliente.Nome)</td>
                        <td>@Html.DisplayFor(m => item.Cupom.NumeroCupom)</td>
                        <td>@Html.DisplayFor(m => item.Cadastro)</td>
                        <td>@Html.DisplayFor(m => item.Cupom.Premio.Nome)</td>
                       
                    </tr>
                }
            </tbody>
        </table>

    </div>

